.survey-input {
    width: 60%;
    margin: 2em 0.5em 0 0;
}

.form-row {
    width: 50%; 
    margin: 1px auto
} 
.form-label {
 display: block;
}
.form-input {
    display: block;
    padding: 2px 8px;
   }

.add-survey-btn {
    font-size: 10px;
    border: 1px solid black;
    border-radius: 4px;
    background-color: rgb(56, 139, 56);
    padding: 0.6%;
    cursor: pointer;
    color: white;
}
.add-survey-btn:hover{
    background-color: rgb(55, 119, 55);
}

.form-btn-row{
    display: flex;
    justify-content: space-between;
    font-size: 10px;
    margin-top: 8px!important;
}